<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/AddData" method="post">
       
       <table>
         <tr>
            <td>Name:</td>
            <td>
                <input type="text" placeholder="Enter your Name" name="userName" />
            </td>
         </tr>

         <tr>
            <td>email:</td>
            <td>
                <input type="email" placeholder="Enter your email" name="email" />
            </td>
         </tr>

         <tr>
            <td>password:</td>
            <td>
                <input type="password" placeholder="Enter your password" name="password" />
            </td>
         </tr>

         <tr>
            <td></td>
            <td><button type="submit">Add Data</button></td>
         </tr>
       </table>


    </form>
</body>
</html>